doctype html
html(lang="en")
    head
        meta(name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes")
        title= pageTitle||"Are You Happy?"
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
        script(src="/webcomponentsjs/webcomponents.min.js")
        link(rel="import" href="/bower/core-icons/core-icons.html")
        link(rel="import" href="/bower/paper-icon-button/paper-icon-button.html")
        link(rel="import" href="/bower/paper-shadow/paper-shadow.html")
        style.
                .huge::shadow #icon {
                    width:100px;
                    height:100px;
                }
    body
        .container
            .row
                .col-md-12
                    .col-md-4.col-md-pull-4.col-md-push-4.text-center
                        paper-shadow(z="2")
                            div#question
                                h1.text-center.lead Are you Happy?
                                form#question-form
                                    textarea(placeholder="Why? (Optional)")
                                    br
                                    br
                                    paper-icon-button.hover.huge.label-danger.answer(data-is="Yes" icon="favorite" title="with :hover style")
                                    &nbsp;
                                    paper-icon-button.hover.huge.label-warning.answer(data-is="No" icon="clear" title="with :hover style")
                                    br
                                    br
                            div#answer
                                p.lead
                                    | Thanks for your answer
            .row.col-md-12.text-center
                p
                    | powered by #[a(href="http://sailsjs.org/") Sails.js] Built with Love by #[a(href="http://varunbatra.com/") Varun Batra]
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
        script.
            $(function(){
                $('#answer').hide();
                $('.answer').click(function(event){
                    event.preventDefault();
                    var data = $('#question-form').serialize();
                    $.ajax({
                    'url' : '/index/answer/',
                    'data' : data,
                    'dataType' : 'json',
                    success: function(data){
                        $('#question').hide('slow');
                        $('#answer').show('slow');
                    }
                    })
                });
            });



